html, body {
    background-color: #617C58;
    background-color: #41627E;
    background-color: #150517;
    color: white;
}
body {
}

.hero-unit {
    background-color: #41627E;
}

.underlined {
    text-decoration: underline;
}


/*
#143b4d
*/

.label {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.important {
    background-color: #c43c35;
}
.label.warning {
    background-color: #f89406;
}
.label.success {
    background-color: #46a546;
}
.label.notice {
    background-color: #62cffc;
}










