<html>
    <head>
        <title>TaskTree</title>
        <!-- libraries external deps -->
<!--        <script src="assets/javascripts/deps/jq.js"></script>
        <script language="javascript" src="assets/javascripts/deps/underscore.js" type="text/javascript"></script>
        <script language="javascript" src="assets/javascripts/deps/backbone.js" type="text/javascript"></script>
        <script language="javascript" src="assets/javascripts/deps/backbone.localStorage.js" type="text/javascript"></script>-->
<!--        <script language="javascript" src="assets/javascripts/utils/utils.js" type="text/javascript"></script>-->
        <script language="javascript" data-main="/assets/javascripts/app.js" data-cacheKey="23" src="assets/javascripts/deps/require/requirejs.js" type="text/javascript"></script>

        <!-- utils -->

        <!-- templates -->
                           <script type="text/html" id="tmpl-task-edit">
                   <div id="<%= id %>" class="contact">
    <input type="text" size="40" class="task-title" value="<%= title %>"/>
</div>
                   </script>

<!--
         models 
                           <script type="text/javascript" src="assets/javascripts/models/task.js">
                   </script>


         views 
                           <script type="text/javascript" src="assets/javascripts/views/task/edit.js">
                   </script>

                   <script type="text/javascript" src="assets/javascripts/views/task/new.js">
                   </script>

                   <script type="text/javascript" src="assets/javascripts/views/task/list.js">
                   </script>-->


        <!-- init code -->
<!--        <script language="javascript" src="assets/javascripts/app.js" type="text/javascript"></script>-->

    </head>
    <body>
        <div id="results">
        </div>
    </body>
</html>
